<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body style="background-color:rgba(0, 255, 136, 0.471);"></body>
    <title>Create an Account</title>
</head>
<body>
    <h1>Create an Account</h1>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <br>
        
        <button type="submit">Register</button>
    </form>
    <p>After creating an account please <a href="/login">login here</a>.</p>
</body>
</html>