<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Web App</title>
    <body style="background-color:rgba(0, 255, 136, 0.471);"></body>
</head>
<body>
    <h1>Welcome to the Message Board</h1>
    {% if session_username %}
        <p>Logged in as: {{ session_username }}
        <a href="/logout">Logout</a></p>
    {% else %}
        <p>Not logged in</p>
    {% endif %}
    <p>If you don't have an account <a href="/register">register here</a>. After creating an account please <a href="/login">login here</a>.</p>
    

    <h2>Recent Messages</h2>
    <ul>
        {% for entry in data %}
        <strong>{{ entry.username }}:</strong> {{ entry.text }}<br>
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <input type="text" id="text" name="text" placeholder="Enter message" required>
        <button type="submit">Send</button>
    </form>
</body>
</html>